 <div class="container">
    <div class="row text-center">
        <div class="col-sm-12 col-6 mx-auto">
            <img src="/assets/img/burger.jpg" alt="burger" class="my-4 img-fluid">
        </div>
    </div>

    <div class="row my-2 py-2">
        <div class="col-sm-12 col-md-10 offset-md-1">
            <h1 class="text-center welcome">Eat Da Burger!</h1>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6 my-1">
            <h2 class="ml-2 pl-3 colTitle">Waiting to be Devoured!</h2>
            <ul class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-6 my-1">
            <h2 class="ml-2 pl-3 colTitle">Already Eaten!</h2>
            <ul class="list-group ml-4">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row my-2 py-2">
        <div class="col-sm-12 col-md-10 offset-md-1 text-center">

          <form class="create-form">

                <div class="form-group">
                    <label for="burger">
                        <p class="colTitle">What do you want to eat today?</p>
                    </label>
                    <input type="text" id="burger" name="name">
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="devoured" value="0" class="colTitle">
                    <label for="Eat again">
                        <p class="colTitle">Eat again!</p>
                    </label>
                </div>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="devoured" value="1" class="colTitle">
                    <label for="devoured">
                        <p class="colTitle">Devoured.</p>
                    </label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-success" type="submit">
                        <h5 class="add">Add a Burger</h5>
                    </button>
                </div>

            </form>   
</div>


            </form>

        </div>
    </div>

</div>

 